[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
matplotlib = "*"
requests = "*"
citipy = "*"
flatten-json = "*"

[requires]
python_version = "3.7"
